*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    background-color: rgb(255, 233, 206);
    border: 5px solid rgb(227, 82, 82);
    display: grid;
    place-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
    "primero segundo segundo"
    "tercero tercero cuarto"
    "quinto sexto septimo"
    ;
}

.item{
    border: 2px solid black;
}
.item1{
    grid-area: primero;
    background-color: rgb(166, 209, 223);
}
.item2{
    grid-area: segundo;
    background-color: rgb(222, 173, 173);
}
.item3{
    grid-area: tercero;
    background-color: rgb(231, 177, 211);
}
.item4{
    grid-area: cuarto;
    background-color: rgb(166, 209, 223);
}
.item5{
    grid-area: quinto;
    background-color: rgb(166, 209, 223);
}
.item6{
    grid-area: sexto;
    background-color: rgb(222, 173, 173);
}
.item7{
    grid-area: septimo;
    background-color: rgb(231, 177, 211);
}