*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    border: 5px solid purple;
    background-color: rgb(231, 212, 247);
    display: grid;
    /*grid-template-columns: repeat(4, 100px);*/
    /*grid-template-columns: repeat(4, 1fr);*/
    /* grid-template-columns: 1fr 3fr 1fr 2fr; */
    /* grid-template-columns: 1fr 3fr min-content 2fr; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.container2{
    border: 5px solid purple;
    background-color: rgb(231, 212, 247);
    display: grid;
    /*grid-template-columns: repeat(4, 100px);*/
    /* grid-template-columns: 1fr 3fr 1fr 2fr; */
    /* grid-template-columns: 1fr 3fr min-content 2fr; */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.item{
    border: 5px solid #00bcd4;
    font-size: 2rem;
}