.contenedor {
  border: 1px solid purple;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 50px 50px 50px;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: center;
}
.item {
  border: 1px solid green;
  background-color: green;
  align-items: end;
  justify-content: end;
}
